/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	overflow: hidden;
}

body {
	/*
		Pre-load #nav_arrow image.
	*/
	background: #fff url(../images/ui/nav_arrow.png) no-repeat -99999px -99999px;
	color: #000;
	cursor: default;
}

a {
	color: #06c;
	text-decoration: none;
}

fR {float: right;}
fL {float: left;}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
	position: absolute;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}

.cancel {
	color: #c00;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

/*
	Added via JS to <textarea> and class="input_full"
*/
.input_full_wrap {
	display: block;
	padding-right: 8px;
}

.gutter_left {
	padding-left: 20px;
}

.gutter_right {
	padding-right: 20px;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

table.data {
	border: 1px solid #ddd;
	width: 100%;
}

table.data th,
table.data td {
	padding: 5px 10px;
}

table.data thead th {
	background: #eee url(../images/ui/data_th.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
	background: -moz-linear-gradient(top center, #fff 0%, #eee 100%);
	border-bottom: 1px solid #ddd;
	text-shadow: #fff 0 1px 0;
}

table.data tbody > tr:nth-child(even) {
	background: #edf3fe;
}

/* `Horizontal Table
----------------------------------------------------------------------------------------------------*/

table.horiz td {
	padding: 20px 0 0 20px;
}

table.horiz tr:first-child td {
	padding-top: 0;
}

table.horiz tr td:first-child {
	padding-left: 0;
}

/* `Buttons
----------------------------------------------------------------------------------------------------*/

.button {
	background: #666 url(../images/ui/button_light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #666));
	background: -moz-linear-gradient(top center, #ccc 0%, #666 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #666 #999 #fff;
	color: #fff !important;
	display: inline-block;
	font-size: 12px;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
	height: 28px;
}

.button:active,
.button_active {
	background: #333 url(../images/ui/button_light_active.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #333));
	background: -moz-linear-gradient(top center, #999 0%, #333 100%);
}

.button.float_right {
	margin-right: 7px;
}

.button.float_left {
	margin-left: 7px;
}

/* `Chrome
----------------------------------------------------------------------------------------------------*/

.chrome_light {
	background: #fff url(../images/ui/chrome_light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #bbb));
	background: -moz-linear-gradient(top center, #fff 0%, #bbb 100%);
	color: #777;
	text-shadow: #fff 0 1px 0;
}

.chrome_dark {
	background: #786e67 url(../images/ui/chrome_dark.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c5c0bd), color-stop(1, #786e67));
	background: -moz-linear-gradient(top center, #c5c0bd 0%, #786e67 100%);
}

.chrome_dark .button {
	background: #222 url(../images/ui/button_dark.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #222));
	background: -moz-linear-gradient(top center, #999 0%, #222 100%);
	border-color: #000 #333 #666;
}

.chrome_dark .button:active,
.chrome_dark .button_active {
	background: #fff url(../images/ui/button_dark_active.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
	background: -moz-linear-gradient(top center, #666 0%, #000 100%);
}

.chrome_dark,
.chrome_dark a {
	color: #fff !important;
	text-shadow: #000 0 -1px 0;
}

/* `Search
----------------------------------------------------------------------------------------------------*/

#q {
	vertical-align: baseline;
	width: 220px;
}

/* `Headers + Footers
----------------------------------------------------------------------------------------------------*/

.header_upper,
.footer_upper {
	overflow: hidden;
	text-align: center;
	left: 0;
	right: 0;
	height: 45px;
	background-color: #fff;
}

.header_lower {
	background-color: #fff;
	line-height: 93px;
	overflow: hidden;
	text-align: left;
	padding-left: 0px;
	left: 0;
	right: 0;
	height: 93px;
}

.header_upper,
.header_lower {
}

.header_upper {
	font-size: 20px;
	top: 0;
}

.header_lower {
	top: 46px;
}

.footer_upper {
	bottom: 46px;
}

.footer_lower {
	bottom: 0;
}

/* `Footer Branding and Logo
----------------------------------------------------------------------------------------------------*/

.footer_lower {
	background-color: #786e67;
	font-size: 9px;
	line-height: 9px;
	overflow: hidden;
	text-align: center;
	left: 0;
	right: 0;
	height: 45px;
	color: #ccc;
	text-shadow: none;
	padding: 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
}

img.poweredBy {
	float: right;
	margin: 10px;
}

.coBrand {
	float: left;
	width: 173px;
	margin-right: 10px;
}

.footer_lower p {padding: 5px 10px 0px 0px;}

/* `Tabs
----------------------------------------------------------------------------------------------------*/

.tabCarousel {
	float: right;
	margin-right: 0px;
	height: 93px;
}



/* `Grey Search Band
----------------------------------------------------------------------------------------------------*/

.search {
	background-color: #c5c0bd;
	line-height: 70px;
	overflow: hidden;
	text-align: right;
	padding-top: 7px;
	left: 0;
	right: 0;
	top: 135px;
	height: 55px;
}

.search h1 {color: #fff; float: left; margin: 7px 0px 0px 10px; font-weight: bold; text-shadow: #666 0 1px 0;}
input.searchInput {
	height: 25px;
	font-size: 16px;
	width: 350px;
	margin-right: 20px;
	margin-top: 7px;
     -moz-border-radius: 15px;
  	 -webkit-border-radius: 15px;
     border-radius: 15px;
  	 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

	}



/* `Main
----------------------------------------------------------------------------------------------------*/

#main, #main2 {
	top: 0;
	left: 251px;
	right: 0;
	bottom: 0;
	min-width: 765px;
	background-color: #fff;
}

.main_content {
	background-color: #fff;
	margin-top: 195px;
	margin-bottom: 100px;
	left: 0;
	right: 0;
}

#main_content_inner {
	background-color: #fff;
	/*
		1px bottom padding = fixes Opera bug.
	*/
}

/* `Sidebar
----------------------------------------------------------------------------------------------------*/

#sidebar {
    position:absolute;            
    width:250px;
    left:0px;
    top: 0;
    bottom: 48px;
	height: 100%;
    z-index:1;
	background: url(../images/panelSideBgOpen.png) top right;
}
 
#sidebar .handle {
    -webkit-user-select:none;
    position:absolute;
    top: 0;
    right:0px;
    width:25px;
    height:100%;
    border-top:1px solid #532500;
    border-bottom:1px solid #111;
	background: url(../images/panelSideBg.png) repeat-y;
}
 
#sidebar ul {
    display:block;
    width:auto;
}
 
#sidebar li {
    display:block;
    margin:20px 10px;
    font-weight:bold;
    color:#333;
	border-bottom: 1px solid #fff;
}
 
#sidebar li img {
    display:block;
    margin-bottom:4px;
}









/* `Hide Sidebar
----------------------------------------------------------------------------------------------------*/

.portrait #main {
	left: 0px;
	background-color: #fff;
}

.button_navigation {
	display: none;
}

.landscape .button_navigation {
	display: block;
}

#nav_arrow,
.portrait #sidebar,
.portrait #sidebar .header_upper {
	display: none;
}

.portrait #sidebar {
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	background: #000;
	top: 45px;
	left: 8px;
	bottom: auto;
	padding: 1px;
}

.portrait #sidebar_search_form {
	margin: 0 0 1px;
}

.portrait #sidebar > * {
	position: static !important;
}

html .portrait #sidebar > #nav_arrow {
	position: absolute !important;
	background: url(../images/ui/nav_arrow.png) no-repeat;
	display: block;
	top: -6px;
	left: 33px;
	right: auto;
	bottom: auto;
	width: 11px;
	height: 6px;
}


img.brandLogo {margin-top: 5px;}



/* `Category Blocks
----------------------------------------------------------------------------------------------------*/

.catBlock {
	float:left;
	width: 235px;
	height: 163px;
	margin: 10px 5px 0px 5px;
}

h2.category img {float: right; margin: 3px 10px 0px 0px;}
.subCats img {margin-left: 10px; margin-bottom: -10px;}

.english {background: url(../images/brand/catEnglish_orange.png) no-repeat;}
.science {background: url(../images/brand/catScience_orange.png) no-repeat;}
.math {background: url(../images/brand/catMath_orange.png) no-repeat;}
.health {background: url(../images/brand/catFitness_orange.png) no-repeat;}
.art {background: url(../images/brand/catArt_orange.png) no-repeat;}
.social {background: url(../images/brand/catSocial_orange.png) no-repeat;}
.career {background: url(../images/brand/catCareer_orange.png) no-repeat;}
.foreign {background: url(../images/brand/catForeign_orange.png) no-repeat;}
.esl {background: url(../images/brand/catESL_orange.png) no-repeat;}
.college {background: url(../images/brand/catCollege_orange.png) no-repeat;}
.current {background: url(../images/brand/catCurrent_orange.png) no-repeat;}
.reference {background: url(../images/brand/catReference_orange.png) no-repeat;}

h2.category {color: #fff; text-align: left; font-size: 16px; margin: 10px 0px 0px 50px; text-shadow: #F30 0 1px 0; }
.subCats {clear: both; float: right; text-align: center; width: 150px; color: #999; margin: 20px 0px; line-height: 18px;}


.laEnglish {background: url(../images/brand/catEnglish_LA.png) no-repeat;}
.laMath {background: url(../images/brand/catMath_LA.png) no-repeat;}
.laSocial {background: url(../images/brand/catSocial_LA.png) no-repeat;}
.laCareer {background: url(../images/brand/catCareer_LA.png) no-repeat;}
.laArts {background: url(../images/brand/catArt_LA.png) no-repeat;}
.laESL {background: url(../images/brand/catESL_LA.png) no-repeat;}
.laScience {background: url(../images/brand/catScience_LA.png) no-repeat;}
.laHealth {background: url(../images/brand/catHealth_LA.png) no-repeat;}
.laForeign {background: url(../images/brand/catForeign_LA.png) no-repeat;}

.LA h2.category {color: #fff; height: 50px; text-align: left; font-size: 16px; margin: 10px 0px 0px 50px; text-shadow: #333 0 1px 0; }
.LA .subCats {clear: both; float: right; text-align: center; width: 150px; color: #eee; margin: 20px 0px; line-height: 18px; text-shadow: #5b6e7b 0 1px 0; }




/* `Search Results
----------------------------------------------------------------------------------------------------*/
#homePageCategories {background-color: #fff;/*padding: 10px; display: none;*/}
#searchResults {}

.result {border-bottom: 1px solid #ccc; padding: 15px; /*height: 100%;*/ vertical-align:middle; background-color: #fff;}
div.resultArrow {background: url(../images/ui/arrowMore_grey.png) no-repeat right center; padding-right: 30px; font-size: 14px;}
div.result:hover {background-color:#ffe;}
.result h2 {margin: 0px 0px 5px 0px; color: #222;}
.result h2 span {color: #F60; margin-right: 40px; margin-left: 10px; font-size: 18px;}
div.result a {color: #888;}

.breadcrumbs {margin-top: 10px; padding-bottom: 10px; padding-left: 15px;color: #ff9a55; font-size: 14px; border-bottom: 1px solid #ccc;}



/*normal styles here */
#wrap {
   width:1024px;
	background-color: #fff;
}
@media only screen and (orientation:portrait){
   /* portrait styles here */
   #wrap {
      width:768px;
	background-color: #fff;
   }
}




/** You can use this style for your INPUT, TEXTAREA, SELECT elements **/
.searchInput {
	border: 1px solid #ffffff;
	/** remember to change image path **/
	background: url(none) no-repeat #ffffff;
	font-family: tahoma, helvetica, sans-serif;
	font-style: normal;
	font-size: 16px;
	color: bbb;
}

/** You can use this style for your LABEL elements **/
.searchLabel {
	font-family: tahoma, helvetica, sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #aaa7a7;
	width: 150px;
	float: left;
}

/** You can use this style for your LABEL elements **/
.searchLabelCheck {
	font-family: tahoma, helvetica, sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #aaa7a7;
	margin: 0px 30px 0px 5px;
}

/** 
*  You can use this style for your INPUT, TEXTAREA, SELECT elements 
*  for onmousehover event
**/
.searchInput:hover {
	/** remember to change image path **/
	background: #fffcf5;
	color: #454743;
	border: 1px solid #ccc;
}


.subcategory {clear: both;}
.searchButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #b8b8b8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b8b8b8;
	box-shadow:inset 0px 1px 0px 0px #b8b8b8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6d6d6), color-stop(1, #3a3b3b) );
	background:-moz-linear-gradient( center top, #d6d6d6 5%, #3a3b3b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#3a3b3b');
	background-color:#d6d6d6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #828282;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #4a4a4a;
}.searchButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a3b3b), color-stop(1, #d6d6d6) );
	background:-moz-linear-gradient( center top, #3a3b3b 5%, #d6d6d6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3b3b', endColorstr='#d6d6d6');
	background-color:#3a3b3b;
}.searchButton:active {
	position:relative;
	top:1px;
}














/* SIDEBAR EXPAND MENU */

.Group {
	display: block;
	height: 28px;
	width: 210px;
	line-height: 27px;
	padding-left: 10px;
	padding-top: 5px;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-weight: bold;
}
.Group:hover {
	color: #333;
	background-color: #eeeeee;
}
.Option {
	display: block;
	height: 28px;
	width: 190px;
	border-bottom: 1px solid #fff;
	line-height: 27px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #666;
}
.Option:hover {
	background-color: #eeeeee;
}
.SubOption {
	display: block;
	height: 28px;
	width: 170px;
	border-bottom: 1px solid #fff;
	line-height: 27px;
	padding-left: 50px;
	text-decoration: none;
	font-size: 14px;
	color: #666;
}
.SubOption:hover {
	background-color: #eeeeee;
}
.SidebarSelected {
	background-color: #efefef;
}

.show {
	display:inline;
}
.hide {
	display:none;
}
