.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 330px;
    padding: 5px 35px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  330px;
    height: 80px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 80px;
    height: 80px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 3px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 3px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 16px;
    height: 40px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -16px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -48px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 16px;
    height: 40px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -16px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -48px 0;
}





/* MODAL POPUP */

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#666;
  opacity:0.4;filter:alpha(opacity=80);
}

#boxes .window {
  position:absolute;
  top: 0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

/* Customize your PORTRAIT modal window here, you can add background image too */
.is_portrait #boxes #dialog {
  position:absolute;
  top: 5px;
  left: 100px;
  width:334px;
  height:157px;
    background: transparent url(../images/ui/addToHome.png) no-repeat 0 0;
}

.is_portrait #boxes #dialog .close img {
  width:334px;
  height:157px;
}



.dialogTitle {background-color: #F60;}
.dialogTitle h2 {border-bottom: 1px solid #ccc; padding: 20px !important; margin-bottom: 10px; color: #fff; text-shadow: #F30 0 1px 0; }


#subcategoryDialog ul {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size: 16px;
}

#subcategoryDialog ul li {
display: inline; /*IE 6*/
margin: 0px; 
text-shadow: #ccc 0 1px 0;
text-align: center;
}

#subcategoryDialog ul li a {
display:block;
background:#fff;
width:95%;
text-decoration:none;
padding:4px/*padding for top, bottom*/ 7px /*padding for left, right*/;
color:#666;
border: 1px solid #ffffff;
}
#subcategoryDialog ul li a:hover {
color:#0066FF;
background:#c4c4c4;
border: 1px solid #cccccc;
background-color: #ffffff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
